.hero {
  background: linear-gradient(
    97.98deg,
    #f2f2f1 47.22%,
    rgba(255, 255, 255, 0) 105.69%
  );
  padding-top: 216px;

  @media (max-width: 768px) {
    padding-top: 155px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1100px) {
      flex-direction: column;
    }
  }

  &__left {
    padding-top: 34px;
    padding-bottom: 29px;

    @media (max-width: 768px) {
      padding-top: 0;
      display: flex;
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 58px;
    line-height: 100%;
    color: $black;
    margin-bottom: 30px;
    max-width: 693px;

    @media (max-width: 768px) {
      font-size: 38px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 132%;
    color: $black;
    margin-bottom: 45px;
    max-width: 537px;

    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 29px;
    }
  }

  &__options {
    display: flex;
    gap: 40px;
    margin-bottom: 39px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 22px;
    }
  }

  &__option {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__option-icon {
  }

  &__option-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 132%;
    color: $black;
  }

  &__btn {
    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }

  &__right {
    display: flex;
    margin-top: auto;
  }

  &__img {
    max-width: 790px;
    width: 100%;
  }
}

// tool=================================================================
.tool {
  margin-top: 170px;

  @media (max-width: 768px) {
    margin-top: 32px;
  }

  &__title {
    margin-bottom: 27px;
  }

  &__text {
    margin-bottom: 68px;
    font-weight: 400;
    font-size: 20px;
    line-height: 144%;
    color: $black;
    max-width: 885px;

    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 40px;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (max-width: 1100px) {
      flex-wrap: wrap;
      gap: 42px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      max-width: 1346px;
      height: 192px;
      top: 0;
      right: 0;
      background: url('../../img/tool-line.svg') no-repeat center / cover;
      z-index: -1;

      @media (max-width: 1100px) {
        display: none;
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;

    @media (max-width: 1100px) {
      flex-basis: 46%;
    }
    @media (max-width: 768px) {
      flex-basis: auto;
    }
  }

  &__card-img-wrap {
    height: 221px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1100px) {
      height: 195px;
    }
  }

  &__card-img {
  }

  &__card-bottom {
    display: flex;
    gap: 35px;
    margin-top: 68px;
    margin-left: 52px;
    padding-right: 20px;

    @media (max-width: 1100px) {
      margin-top: 15px;
    }
    @media (max-width: 768px) {
      gap: 26px;
      margin-left: 38px;
      padding-right: 0;
    }
  }

  &__card-number {
    font-family: $font-family-secondary;
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    color: $white;
    min-width: 78px;
    height: 78px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    margin-top: 24px;

    @media (max-width: 1100px) {
      margin-top: 40px;
    }

    @media (max-width: 768px) {
      min-width: 54px;
      height: 54px;
      border-radius: 10px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 118px;
      height: 118px;
      border-radius: 31px;
      background: $yellow;
      right: 12px;
      bottom: 16px;
      z-index: -1;

      @media (max-width: 768px) {
        width: 81px;
        height: 81px;
        border-radius: 21px;
        right: 8px;
        bottom: 11px;
      }
    }
  }

  &__card-number--1 {
    background: #b5b5aa;
  }
  &__card-number--2 {
    background: #717166;
  }
  &__card-number--3 {
    background: #2b2c2a;
  }

  &__card-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 144%;
    color: $black;
    max-width: 248px;

    span {
      font-weight: 800;
    }
  }
}

// for-everyboby=======================================================================
.for-everyboby {
  margin-top: 250px;

  @media (max-width: 768px) {
    margin-top: 165px;
  }

  &__title {
    max-width: 693px;
    margin-bottom: 10px;

    @media (max-width: 768px) {
      margin-bottom: 29px;
    }
  }
}

// main-tabs==============================================================
.main-tabs {
  display: flex;
  justify-content: space-between;
  gap: 15px;

  @media (max-width: 1250px) {
    flex-direction: column;
    gap: 73px;
  }

  &__left {
    margin-top: 46px;
    border-bottom: 4px dashed #ededed;

    @media (max-width: 1600px) {
      border-bottom: none;
    }

    @media (max-width: 768px) {
      margin-top: 0;
    }
  }

  &__top {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      gap: 5px;
    }
  }

  &__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: $black;
    background: #efefef;
    border-radius: 13px;
    padding: 22px 38px;
    transition: 0.3s;
    position: relative;
    white-space: nowrap;

    @media (max-width: 768px) {
      font-size: 14px;
      padding: 18px 29px;
    }

    @media (max-width: 370px) {
      padding: 15px 15px;
    }

    &:hover {
      background: $yellow;
    }

    &.active {
      background: $yellow;

      & span:nth-child(1) {
        opacity: 0;
      }

      & span:nth-child(2) {
        opacity: 1;
        transition: 0.8s;
      }
    }

    span:nth-child(1) {
      opacity: 1;
    }

    span:nth-child(2) {
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
    }
  }

  &__bottom {
    max-width: 770px;
    margin-top: 125px;

    @media (max-width: 1600px) {
      padding-left: 41px;
    }

    @media (max-width: 768px) {
      margin-top: 42px;
    }
  }

  &__content {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 95px;
    animation: main-tabs-content 0.3s;

    @keyframes main-tabs-content {
      0% {
        opacity: 0;
        scale: 0;
      }
      100% {
        opacity: 1;
        scale: 1;
      }
    }

    @media (max-width: 768px) {
      gap: 39px;
      grid-template-columns: repeat(1, 1fr);
    }

    &.active {
      display: grid;
    }
  }

  &__content-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: $black;
    position: relative;
    max-width: 280px;

    @media (max-width: 768px) {
      font-size: 16px;
      max-width: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      width: 21px;
      height: 21px;
      top: 0;
      left: -60px;
      background: url('../../img/check-icon.svg') no-repeat center / 100%;

      @media (max-width: 1600px) {
        left: -41px;
      }
    }
  }

  &__right {
    margin-right: -80px;

    @media (max-width: 1600px) {
      margin-right: 0;
    }
  }

  &__img-wrap {
    max-width: 575px;
    // width: 100%;
    aspect-ratio: 575 / 558;
    position: relative;
    display: none;
    animation: main-tabs-img 0.3s;

    @keyframes main-tabs-img {
      0% {
        opacity: 0;
        scale: 0.5;
      }
      100% {
        opacity: 1;
        scale: 1;
      }
    }

    @media (max-width: 1600px) {
      margin-left: 55px;
    }

    @media (max-width: 768px) {
      margin-left: 28px;
    }

    &.active {
      display: block;
    }

    &::before {
      content: '';
      position: absolute;
      width: 206px;
      height: 206px;
      top: -55px;
      left: -55px;
      background: $yellow;
      border-radius: 31px;
      z-index: -1;

      @media (max-width: 768px) {
        width: 111px;
        height: 111px;
        border-radius: 16px;
        top: -28px;
        left: -28px;
      }
    }
  }

  &__img {
    border-radius: 23px;
    object-fit: cover;
    width: 100%;
    height: 100%;

    @media (max-width: 768px) {
      border-radius: 12px;
    }
  }
}

// reviews=============================================================================
.reviews {
  margin-top: 140px;
  height: 397px;
  background: $yellow;
  position: relative;

  @media (max-width: 768px) {
    height: 239px;
    margin-top: 57px;
  }

  &__wrapper {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;

    @media (max-width: 768px) {
      top: 37px;
    }
  }

  &__container {
    max-width: 1644px + 34px;
    margin: 0 auto;
    padding: 0 17px;
  }

  &__title {
    margin-left: 105px;
    margin-bottom: 39px;

    @media (max-width: 768px) {
      margin-left: 0;
      margin-bottom: 36px;
    }
  }

  &__inner {
    @media (max-width: 1449px) {
      max-width: 1114px;
      margin: 0 auto;
    }

    @media (max-width: 949px) {
      max-width: 620px;
    }

    @media (max-width: 768px) {
      max-width: 520px;
    }

    @media (max-width: 500px) {
      max-width: 380px;
    }
  }
}

.reviews-slider-container {
  display: flex;
  // gap: 40px;
  gap: 20px;
  align-items: center;

  @media (max-width: 1500px) {
    gap: 12px;
  }
}

.reviews-slider-prev,
.reviews-slider-next {
  min-width: 65px;
  height: 65px;
  background: $black;
  border-radius: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 0 1px $black;
  }

  @media (max-width: 768px) {
    min-width: 44px;
    height: 44px;
    border-radius: 12px;
    margin-top: 12px;
  }

  img {
    @media (max-width: 768px) {
      width: 9px;
    }
  }
}

.reviews-slider-prev {
}
.reviews-slider-next {
}

.reviews-slider {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  @media (max-width: 420px) {
    padding-left: 0px;
    padding-right: 0px;
  }

  &__wrapper {
  }

  &__slide {
    &:not(.swiper-slide-visible) {
      scale: 0.9;
    }
  }

  &__img-bg {
    filter: drop-shadow(0px 21px 21.9px rgba(184, 134, 134, 0.09));
    filter: drop-shadow(0px 21px 14px rgba(184, 134, 134, 0.09));
    // height: 337px;

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__img-bg-mobile {
    display: none;
    // filter: drop-shadow(0px 21px 21.9px rgba(184, 134, 134, 0.09));
    filter: drop-shadow(0px 10.2147px 10.6525px rgba(184, 134, 134, 0.09));

    @media (max-width: 500px) {
      display: block;
    }

    @media (max-width: 420px) {
      width: 100%;
    }
  }

  &__card {
    position: absolute;
    inset: 0;
    padding: 47px 48px 91px 59px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1410px) {
      padding: 26px 28px 70px;
    }

    @media (max-width: 370px) {
      padding: 10px 10px 34px;
    }
  }

  &__card-username {
    font-family: $font-family-secondary;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: $black;
    margin-bottom: 16px;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    @media (max-width: 370px) {
      margin-bottom: 4px;
      font-size: 14px;
    }
  }

  &__card-text {
    font-family: $font-family-secondary;
    font-weight: 300;
    font-size: 16px;
    line-height: 157%;
    color: $black;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      font-size: 12px;
    }

    @media (max-width: 370px) {
      margin-bottom: 4px;
      font-size: 10px;
    }
  }

  &__stars {
    display: flex;
    gap: 7px;
    margin-top: auto;
  }

  &__star-img {
    @media (max-width: 768px) {
      width: 21px;
    }
  }
}

// begin==============================================================
.begin {
  // margin-top: 284px;
  padding-top: 217px;

  @media (max-width: 768px) {
    padding-top: 188px;
  }

  &__title-wrap {
    position: relative;
    padding: 61px 90px 0 0;
    display: inline-flex;
    margin-bottom: 34px;

    @media (max-width: 1129px) {
      max-width: 900px;
    }
    @media (max-width: 888px) {
      max-width: 790px;
    }
    @media (max-width: 820px) {
      max-width: 610px;
    }

    @media (max-width: 768px) {
      padding: 0;
      margin-bottom: 29px;
      max-width: 532px;
    }
    @media (max-width: 479px) {
      max-width: 344px;
    }
    @media (max-width: 370px) {
      max-width: 280px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0px;
      right: 0px;
      width: 62px;
      height: 89px;
      background: url('../../img/begin-decor.svg') no-repeat center / cover;

      @media (max-width: 768px) {
        width: 20px;
        height: 30px;
        top: 50%;
        transform: translateY(-50%);
        right: -10px;
      }
    }
  }

  &__title {
    display: inline-flex;

    @media (max-width: 370px) {
      font-size: 26px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 132%;
    color: $black;
    margin-bottom: 14px;

    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 0;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 40.9%;

    @media (max-width: 1100px) {
      grid-template-columns: 1fr;
    }
  }

  &__cards {
    display: flex;
    gap: 52px;
    margin-top: 60px;
    margin-bottom: 64px;
    padding-right: 20px;

    @media (max-width: 1100px) {
      margin-top: 41px;
      margin-bottom: 70px;
    }

    @media (max-width: 768px) {
      gap: 39px;
      padding-right: 0;
    }

    @media (max-width: 560px) {
      flex-direction: column;
      gap: 35px;
    }
  }

  &__card {
    flex-basis: 224px;

    @media (max-width: 768px) {
      flex-basis: auto;
    }
  }

  &__card-number {
    font-family: $font-family-secondary;
    font-weight: 700;
    font-size: 24px;
    line-height: 144%;
    color: $white;
    width: 47px;
    height: 47px;
    border-radius: 10px;
    box-shadow: inset 0px -1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      margin-bottom: 17px;
    }
  }

  &__card-number--1 {
    background: #b5b5aa;
  }
  &__card-number--2 {
    background: #727267;
  }
  &__card-number--3 {
    background: #2b2c2a;
  }

  &__card-title {
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 27px;
  }

  &__card-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 144%;
    color: $black;
  }

  &__img-wrap {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    @media (max-width: 1100px) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-bottom: 36px;
    }
  }

  &__img {
    border-radius: 37px;

    @media (max-width: 768px) {
      border-radius: 21px;
    }
  }

  &__btn-wrap {
    @media (max-width: 560px) {
      display: flex;
      justify-content: center;
    }
  }

  &__btn {
    padding: 19px 69px;
  }
}

// register============================================================
.register {
  margin-top: 181px;

  @media (max-width: 768px) {
    display: none;
  }

  &__title {
    margin-bottom: 54px;
  }

  &__inner {
    padding: 105px 0px;
    background: #f4f4f4;
    border-radius: 30px;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px 45px;
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 28px;
    }
  }

  &__input {
    padding: 19px 45px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: $black;

    &:focus {
      border: 1px solid $yellow-btn;
      outline: none;
    }
  }

  &__btn {
  }
}

// pay=================================================================
.pay-info {
  margin-top: 188px;

  @media (max-width: 768px) {
    margin-top: 98px;
  }

  &__title {
    margin-bottom: 36px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__left {
    padding-top: 18px;

    @media (max-width: 768px) {
      padding-top: 0;
    }

    @media (max-width: 560px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__box {
    background: #f4f4f4;
    border-radius: 20px;
    display: inline-flex;
    gap: 44px;
    align-items: center;
    padding: 26px 60px;
    margin-bottom: 40px;

    @media (max-width: 768px) {
      padding: 26px 21px;
      gap: 34px;
    }

    @media (max-width: 420px) {
      width: 100%;
    }

    @media (max-width: 374px) {
      gap: 15px;
      padding: 26px 15px;
      justify-content: space-between;
    }
  }

  &__box-price {
    font-weight: 700;
    font-size: 48px;
    line-height: 144%;
    color: $black;
    white-space: nowrap;

    @media (max-width: 768px) {
      font-size: 28px;
    }

    @media (max-width: 374px) {
      font-size: 20px;
    }
  }

  &__box-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 144%;
    color: $black;
    display: flex;
    flex-direction: column;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    span {
      font-weight: 700;
    }
  }

  &__text {
    margin-bottom: 27px;
    max-width: 584px;
    font-weight: 400;
    font-size: 20px;
    line-height: 144%;
    color: $black;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__btn {
    margin-top: 40px;
    padding: 19px 57px;

    @media (max-width: 560px) {
      display: inline-flex;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 400px) {
      width: 100%;
      padding: 19px 15px;
    }
  }

  &__right {
    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__img {
  }
}

// cities==================================================================
.cities {
  margin-top: 59px;

  &__title {
    margin-bottom: 35px;

    @media (max-width: 768px) {
      margin-bottom: 29px;
    }
  }

  &__text {
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 18px;
    line-height: 144%;
    color: $black;

    @media (max-width: 768px) {
      margin-bottom: 35px;
      font-size: 16px;
    }
  }

  &__img-wrap {
    @media (max-width: 500px) {
      display: flex;
      justify-content: center;
      overflow-x: hidden;
      margin-left: -17px;
      margin-right: -17px;
    }
  }

  &__img {
    @media (max-width: 500px) {
      min-width: 472px;
      margin-right: 40px;
    }
    @media (max-width: 370px) {
      min-width: 430px;
    }
  }
}
