<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__top">
                <nav class="menu-footer">
                    <ul class="menu-footer__list">
                        <li class="menu-footer__item">
                            <a href="#" class="menu-footer__link">О сервисе</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="#" class="menu-footer__link">Для кого?</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="#" class="menu-footer__link">Отзывы</a>
                        </li>
                        <li class="menu-footer__item">
                            <a href="#" class="menu-footer__link">Стоимость</a>
                        </li>
                    </ul>
                </nav>
                <a href="#register" class="footer__btn btn-header open-modal">Заказать звонок</a>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom-text">AlloTrack, коллтрекинг для людей, 2024</div>
                <a href="#" class="footer__bottom-policy">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</footer>