<header class="header">
    <div class="header__container">
        <div class="header__inner">
            <a href="/" class="header__logo-wrap">
                <img src="../img/logo.svg" alt="Логотип" class="header__logo">
            </a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="#" class="menu__link">О сервисе</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Для кого</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Отзывы</a>
                    </li>
                    <li class="menu__item">
                        <a href="#" class="menu__link">Стоимость</a>
                    </li>
                </ul>
            </nav>
            <a href="#register" class="header__btn btn-header open-modal">Заказать звонок</a>
            <button type="button" class="burger-menu"><span></span></button>
        </div>
    </div>
</header>